### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [241]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [ ]:
#total_players = len(purchase_data['SN'].unique()) 
total_players_df = pd.DataFrame({"Total Players":[len(purchase_data['SN'].unique())]})

total_players_df

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
average_price = purchase_data["Price"].mean()

In [ ]:
total_revenue = purchase_data["Price"].sum(axis=0)

In [ ]:
number_of_unique_items = len(purchase_data['Item ID'].unique())

In [ ]:
number_of_purchases = len(purchase_data['Purchase ID'])

In [ ]:
Purchase_Analysis_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
     "Average Price": [average_price], "Number of Purchases":[number_of_purchases], "Total Revenue":[total_revenue]})

Purchase_Analysis_df

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [ ]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()

player_demographics['Gender'].count()

In [ ]:
gender_group = player_demographics.groupby('Gender')

count_genders = gender_group['Gender'].count()

count_genders

In [ ]:
percent_genders = (player_demographics['Gender'].value_counts()/player_demographics['Gender'].count())*100

percent_genders

In [ ]:
gender_summary_table = pd.DataFrame({"Total Count": count_genders,
                                    "Percentage of Players": percent_genders})
gender_summary_table.head()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
grouped_gender_data = purchase_data.groupby(['Gender'])

In [ ]:
gender_average_price = grouped_gender_data["Price"].mean()

gender_average_price

In [ ]:
gender_total_purchase = grouped_gender_data["Price"].sum(axis=0)

gender_total_purchase

In [ ]:
gender_avg_total_purchase_person = gender_total_purchase/count_genders

gender_avg_total_purchase_person

In [ ]:
gender_purchase_count = grouped_gender_data["Purchase ID"].count()

In [ ]:
grouped_gender_summary_table = pd.DataFrame({"Purchase Count": gender_purchase_count, "Average Purchase Price": gender_average_price, "Total Purchase Value": gender_total_purchase, "Avg Total Purchase per Person": gender_avg_total_purchase_person})

grouped_gender_summary_table.head()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [214]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [215]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [216]:
age_demographics = purchase_data.loc[:, ["Gender", "SN", "Age", "Age Range"]]
age_demographics = age_demographics.drop_duplicates()

age_demographics['Age Range'].count()

576

In [217]:
age_group = age_demographics.groupby('Age Range')

# Count how many times each maker appears in our group
count_age = age_group['Age Range'].count()

count_age

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Range, dtype: int64

In [218]:
percent_age = (age_demographics['Age Range'].value_counts()/age_demographics['Age Range'].count())*100

percent_age

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Range, dtype: float64

In [283]:
age_summary_table = pd.DataFrame({"Total Count": count_age,
                                    "Percentage of Players": percent_age})
age_summary_table["Percentage of Players"] = age_summary_table["Percentage of Players"].map("${:.2f}".format)

age_summary_table

       Total Count Percentage of Players
<10             17                 $2.95
10-14           22                 $3.82
15-19          107                $18.58
20-24          258                $44.79
25-29           77                $13.37
30-34           52                 $9.03
35-39           31                 $5.38
40+             12                 $2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [229]:
grouped_age_data = purchase_data.groupby(['Age Range'])

In [230]:
age_average_price = grouped_age_data["Price"].mean()

age_average_price

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [231]:
age_total_purchase = grouped_age_data["Price"].sum(axis=0)

age_total_purchase

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [232]:
age_avg_total_purchase_person = age_total_purchase/count_age

age_avg_total_purchase_person

Age Range
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [233]:
age_purchase_count = grouped_age_data["Purchase ID"].count()

In [285]:
grouped_age_summary_table = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": age_average_price, "Total Purchase Value": age_total_purchase, "Avg Total Purchase per Person": age_avg_total_purchase_person})

grouped_age_summary_table["Average Purchase Price"] = grouped_age_summary_table["Average Purchase Price"].map("${:.2f}".format)

grouped_age_summary_table["Avg Total Purchase per Person"] = grouped_age_summary_table["Avg Total Purchase per Person"].map("${:.2f}".format)

grouped_age_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [228]:
grouped_SN_data = purchase_data.groupby(['SN'])

In [235]:
SN_average_price = grouped_SN_data["Price"].mean()

SN_average_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [236]:
SN_total_purchase = grouped_SN_data["Price"].sum(axis=0)

SN_total_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [237]:
SN_purchase_count = grouped_SN_data["Purchase ID"].count()

In [292]:
grouped_SN_summary_table = pd.DataFrame({"Purchase Count": SN_purchase_count, "Average Purchase Price": SN_average_price, "Total Purchase Value": SN_total_purchase})

grouped_SN_sort_summary_table = grouped_SN_summary_table.sort_values("Total Purchase Value", ascending=False)

grouped_SN_sort_summary_table["Average Purchase Price"] = grouped_SN_sort_summary_table["Average Purchase Price"].map("${:.2f}".format)

grouped_SN_sort_summary_table.head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [262]:
popular_items = purchase_data.loc[:, ["Item ID", "Item Name","Purchase ID", "Price"]]

In [263]:
grouped_IID_N_data = popular_items.groupby(by=['Item ID','Item Name'])

In [264]:
IID_N_total_purchase = grouped_IID_N_data["Price"].sum(axis=0)

IID_N_total_purchase

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [274]:
IID_N_purchase_count = grouped_IID_N_data["Purchase ID"].count()

In [277]:
IID_N_item_price = grouped_IID_N_data["Price"].mean()

#IID_N_item_price = grouped_IID_N_data["Price"]
                                      
IID_N_item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [278]:
grouped_IID_N_summary_table = pd.DataFrame({"Purchase Count": IID_N_purchase_count, "Item Price": IID_N_item_price, "Total Purchase Value": IID_N_total_purchase})
grouped_IID_N_sort_summary_table = grouped_IID_N_summary_table.sort_values("Purchase Count", ascending=False)

grouped_IID_N_sort_summary_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [280]:
grouped_IID_N_sort_summary_table = grouped_IID_N_summary_table.sort_values("Total Purchase Value", ascending=False)

grouped_IID_N_sort_summary_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80